PORT=8080
GECKOTERMINAL_API_HOST=https://api.geckoterminal.com/api/v2
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_FALLBACK_RPC_URL=https://solana-rpc.publicnode.com
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
NEXT_PUBLIC_WATER_API_URL=http://localhost:8080
